In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('train.csv', index_col='id'); df

            word  stress  num_syllables     lemma
id
0        румяной       2              3   румяный
1        цифрами       1              3     цифра
2        слугами       1              3     слуга
3       выбирает       3              4  выбирать
4       управдом       3              3  управдом
...          ...     ...            ...       ...
63433   экзамена       2              4   экзамен
63434  культурой       2              3  культура
63435   объемной       2              3  объемный
63436   участком       2              3   участок
63437   ташкента       2              3   ташкент

[63438 rows x 4 columns]

In [7]:
df.isna().sum()

word             0
stress           0
num_syllables    0
lemma            0
dtype: int64

### Набор символов

In [44]:
def add_char(word):
    global alphabeth
    alphabeth = alphabeth.union(set(list(word)))

In [17]:
alphabeth = set()

In [47]:
df.word.apply(add_char)

id
0        None
1        None
2        None
3        None
4        None
         ...
63433    None
63434    None
63435    None
63436    None
63437    None
Name: word, Length: 63438, dtype: object

In [49]:
df.lemma.apply(add_char)

id
0        None
1        None
2        None
3        None
4        None
         ...
63433    None
63434    None
63435    None
63436    None
63437    None
Name: lemma, Length: 63438, dtype: object

In [50]:
alphabeth

{'а',
 'б',
 'в',
 'г',
 'д',
 'е',
 'ж',
 'з',
 'и',
 'й',
 'к',
 'л',
 'м',
 'н',
 'о',
 'п',
 'р',
 'с',
 'т',
 'у',
 'ф',
 'х',
 'ц',
 'ч',
 'ш',
 'щ',
 'ъ',
 'ы',
 'ь',
 'э',
 'ю',
 'я',
 'ё'}

In [55]:
len(alphabeth)

33

Можно будет добавить один знак на случай, если в тестовой выборке будут неизвестные символы

### Максимальная длина слова

In [53]:
df.word.apply(len).max()

20

In [54]:
df.lemma.apply(len).max()

20

Можно взять с запасом и использовать padding

# То же для тестовой выборки

In [57]:
df = pd.read_csv('test.csv', index_col='id'); df

                word  num_syllables        lemma
id
0          эпилепсия              5    эпилепсия
1        относящейся              5   относиться
2      размышлениями              6  размышление
3             модемы              3        модем
4              солнц              1       солнце
...              ...            ...          ...
29955       донбасса              3      донбасс
29956        обложка              3      обложка
29957      правителя              4    правитель
29958      шерстяной              3    шерстяной
29959    оптимизации              6  оптимизация

[29960 rows x 3 columns]

In [58]:
df.isna().sum()

word             0
num_syllables    0
lemma            0
dtype: int64

### Набор символов

In [59]:
alphabeth = set()

In [60]:
df.word.apply(add_char)

id
0        None
1        None
2        None
3        None
4        None
         ...
29955    None
29956    None
29957    None
29958    None
29959    None
Name: word, Length: 29960, dtype: object

In [61]:
alphabeth

{'а',
 'б',
 'в',
 'г',
 'д',
 'е',
 'ж',
 'з',
 'и',
 'й',
 'к',
 'л',
 'м',
 'н',
 'о',
 'п',
 'р',
 'с',
 'т',
 'у',
 'ф',
 'х',
 'ц',
 'ч',
 'ш',
 'щ',
 'ъ',
 'ы',
 'ь',
 'э',
 'ю',
 'я',
 'ё'}

In [62]:
len(alphabeth)

33

### Максимальная длина слова

In [63]:
df.word.apply(len).max()

19